<?= $this->doctype() ?>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Simple Chat</title>
    <link rel="stylesheet" href="<?= $this->basePath('css/styles.css') ?>"/>
</head>
<body>
<section class="section">
    <div class="container">
        <?= $this->content ?>
    </div>
</section>
<?= $this->inlineScript() ?>
</body>
</html>