<template>
    <div>
        <div class="columns justify-center-desktop justify-center-tablet">
            <div class="column is-half-desktop is-two-thirds-tablet">
                <form @submit.prevent="addMessage">
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input
                                :class="{ 'is-danger' : validationErrors.text }"
                                class="input"
                                type="text"
                                placeholder="Let's type something here!"
                                v-model="message"
                            >
                            <p
                                class="has-text-danger"
                                v-if="validationErrors.text"
                                v-for="error in validationErrors.text"
                            >
                                {{ error }}
                            </p>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary" :disabled="isProcessing">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box">
            <table class="table is-full-width">
                <thead>
                <tr>
                    <th>Created</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="message of messages">
                    <td>{{ message.created_at }}</td>
                    <td>{{ message.text }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'app',
        data() {
            return {
                messages: [],
                message: '',
                validationErrors: {},
                isProcessing: false,
            };
        },
        methods: {
            addMessage() {
                this.isProcessing = true;
                axios.post('/api/messages', { text: this.message }).then((response) => {
                    this.messages = [response.data, ...this.messages].slice(0, 10);
                    this.isProcessing = false;
                }).catch((err) => {
                    this.isProcessing = false;
                    this.validationErrors = err.response.data.errors;
                });

                this.message = '';
            },
            loadMessages() {
                axios.get('/api/messages').then((response) => {
                    this.messages = response.data.data;
                })
            }
        },
        created() {
            this.loadMessages();

            setInterval(this.loadMessages, 1000)
        }
    };
</script>